<h2>Set my site's color!<h2>

<form id="makeitso" action="/make_it_so" method="get">
	<input type="text" id="color" name="color" value="#123456" />
	<input type="submit" value="Go!">
</form>
<div id="colorpicker"></div>